  body {
    background-image: url('./fondo2.png');
    background-size: cover;           
    background-repeat: no-repeat;   
    background-attachment: fixed;     
    background-position: center;     
  }


  .fondo-blanco {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1rem;
    border-radius: 8px;
  }

  td{
    background-color: rgb(218, 100, 251);
  }

